/* Geral */
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #D5CEA3;
}

a{
    text-decoration: none;
}

p{
    color: #3C2A21;
}

ul{
    list-style: none;
}

.sombra{
    box-shadow: 0px 0px 10px 1px #957d72;
}

.sem-borda{
    border: none;
}




/* Topo */

header{
    background-color: #1A120B;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header #logo a{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px;
    color: #A6A6A6;
    text-transform: uppercase;
    
}

header #logo img{
    filter: invert(70%);
}

header #logo{
    align-self: center;
    margin-top: 10px;
}

header ul#flex-esquerda {
    justify-content: space-around;
    padding: 5px;
}

header li{
    float: left;
    padding: 10px 10px;
}

header a{
    color: #A6A6A6;
    text-transform: uppercase;
    padding: 5px;
    /* font-weight: bold; */
}

header .container a:hover{
    background-color: #A6A6A6;
    color: #1A120B;
}

header ul#flex-direita {
    justify-content: space-around;
    padding: 5px;
}

#nav-topo{
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
}

body#home a.home,
body#historia a.historia,
body#sobre a.sobre,
body#cadastro a.cadastro,
body#login a.login{
    border-bottom: 1px solid #A6A6A6;
}




/* principal */


@media (max-width: 768px) {
    header #logo img{
        width: 20px;
        height: 30px;
    }
    
    .container{
        width: 100%;
    }
    
    header h2{
        font-size: 9px;
    }

    header #logo img{
        width: 30px;
    }

    #nav-topo{
        font-size: 0.7em;
    }

    #principal{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    #colunas-2{
        display: flex;
        flex-direction: column;
    }

    #principal #colunas-2 aside article#campo-noticias{
        display: none;
    }

    #colunas-2 h2{
        font-size: 1em;
    }

    #coluna{
        width: 100%;
        margin: 15px 0;
    }

    aside{
        width: 100%;
        padding-bottom: 10px;
    }

    aside h4{
        font-size: 0.9em;
    }

    aside a{
        font-size: 0.9em;
    }

    .postagem{
        margin: 15px 0;
    }
    .postagem a{
        font-size: 0.8em;
    }

    .postagem p{
        font-size: 0.8em;
    }

    .postagem-lateral{
        margin: 15px 0;
    }
}

@media (min-width: 769px) {
    
    .container{
        width: 100%;
        max-width: 1440px;
    }
    
    header #logo h2{
        font-size: 10px;
    }
    header #logo img{
        width: 35px;
    }

    #nav-topo{
        font-size: 0.8em;
    }

    #principal{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    #colunas-2{
        display: flex;
        flex-direction: column;
    }

    #principal #colunas-2 aside article#campo-noticias{
        display: none;
    }

    #colunas-2 h2{
        font-size: 1.1em;
    }

    #coluna{
        width: 95%;
        margin: 15px;
    }

    aside{
        width: 100%;
        padding-bottom: 10px;
    }

    aside h4{
        font-size: 0.95em;
    }

    aside a{
        font-size: 0.95em;
    }

    .postagem{
        margin: 15px;
    }

    .postagem a{
        font-size: 0.9em;
    }

    .postagem p{
        font-size: 0.9em;
    }

    .postagem-lateral{
        margin: 15px;
    }
}

@media (min-width: 1025px) {
    header #logo h2{
        font-size: 10px;
    }

    #nav-topo{
        font-size: 0.8em;
    }

    #postagens{
        width: 70%;
    }
    
    #colunas-2{
        display: flex;
        flex-direction: row;
    }

    #principal #colunas-2 aside article#campo-noticias{
        display: block;
    }

    #colunas-2 h2{
        font-size: 1.1em;
    }

    aside{
        width: 30%;
        padding-bottom: 10px;
    }

    aside .noticias h5{
        font-size: 0.8em;
        padding: 5px 0;
    }

    aside h4{
        font-size: 0.95em;
    }

    aside a{
        font-size: 0.95em;
    }

    .postagem a{
        font-size: 0.9em;
    }

    .postagem p{
        font-size: 0.9em;
    }
}


@media (min-width: 1280px) {
   
    .container{
        width: 90%;
    }
    
    header #logo h2{
        font-size: 11px;
    }

    #nav-topo{
        font-size: 0.95em;
    }

    #postagens{
        width: 70%;
    }

    #principal{
        width: 90%;
        margin: 15px auto;
    }

    #colunas-2 h2{
        font-size: 1.2em;
    }

    aside{
        width: 30%;
        padding-bottom: 10px;
    }

    aside .noticias h5{
        font-size: 0.8em;
        padding: 5px 0;
    }

    aside h4{
        font-size: 1em;
    }

    aside a{
        font-size: 0.95em;
    }

    .postagem{
        margin: 15px;
    }
    .postagem a{
        font-size: 1.1em;
    }

    .postagem p{
        font-size: 0.9em;
    }

}


#principal{
    background: #3C2A21;
    max-width: 1440px;
}

#coluna{
    align-self: center;
}

#colunas-2{
    width: 100%;
    /* display: flex; */
}

#artigo{
    background-color: #E5E5CB;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}

#artigo p{
    margin-bottom: 8px;
    text-align: justify;
}

#postagens p::first-letter{
    margin-left: 20px;
}

#postagens p{
    text-align: justify;
}

.postagem{
    padding: 15px;
    background-color: #E5E5CB;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}



.postagem img {
    max-width: 100%;
    height: auto;
}

#conteudo img{
    width: 100%;
    align-self: center;
}


#conteudo p{
    text-align: justify;
}


.img-apresentacao{
    width: 100%;
    height: fit-content;
}

.imagem-esquerda{
    float: left;
    width: 30%;
    height: 300px;
    box-sizing: border-box;
    padding: 10px 10px 10px 0px;
}

.imagem-direita{
    float: right;
    width: 30%;
    height: 300px;
    box-sizing: border-box;
    padding: 10px 0px 10px 10px;
}




/* Lateral */
aside{
    box-sizing: border-box;
}

aside h4{
    text-transform: uppercase;
    border-bottom: 1px dashed grey;
    margin-bottom: 10px;
}

aside ul{
    padding: 5px 0 0 15px;
}

aside li{
    padding: 5px;
}

aside a{
    color: #3C2A21;
}

.postagem-lateral{
    background-color: #E5E5CB;
    padding: 15px;
    /* margin: 15px; */
}

.areas-links a:hover{
    color: #7E7E7E;
}

.noticias{
    padding: 0 10px;
    margin-bottom: 5px;
    float: left;
    text-align: justify;
    border-bottom: 1px dotted #3C2A21;
}

.noticias:hover{
    background-color: #B4B4B4;
}

.noticias img{
    width: 90px;
    float: left;
    height: 80px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.noticias h2{
    font-size: 0.8em;
}

a.noticias p{
    font-size: 0.7em;
}




/* Cadastro e login */

#caixa-input{
    width: 400px;
    height: 400px;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    background-color: #E5E5CB;
    flex-direction: column;
    background:linear-gradient(to bottom, #E5E5CB 100%, #dedede 50%);
}

#caixa-input h3{
    margin-bottom: 30px;
    font-size: 1.7em;
    
}

#caixa-input input{
    width: 100%;
    height: 30px;
    background-color: #E5E5CB;
    border: none;
    border-bottom: 1px solid #000;
    margin-bottom: 25px;
}

#caixa-input label{
    margin-bottom: 5px;
    font-size: 18px;
}

#caixa-input label:hover{
    cursor: text;
}

#caixa-input button{
    box-shadow:inset 0px 0px 4px 2px #19a8ef;
	background:linear-gradient(to bottom, #008BDC 5%, #006BA5 100%);
	background-color:#008BDC;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#fff;
	font-size:15px;
	padding:8px 24px;
	text-decoration:none;
    margin: 10px 0;
}

#campo-usuario span{
    align-self: center;
    justify-self: center;
}

#campo-usuario span a{
    color: #008BDC;
}

#campo-usuario{
    display: flex;
    flex-direction: column;
    width: 80%;
}

#nome{
    background-image: url("../imagens/user-solid.svg");
    padding-right: 10px;
    background-repeat: no-repeat;
    background-position: right center; /* Posicionamento do ícone */
    background-size: 20px;
    box-sizing: border-box;
}

#email{
    background-image: url("../imagens/envelope-solid.svg");
    padding-right: 10px;
    background-repeat: no-repeat;
    background-position: right center; /* Posicionamento do ícone */
    background-size: 20px;
    box-sizing: border-box;
}

#senha{
    background-image: url("../imagens/lock-solid.svg");
    padding-right: 10px;
    background-repeat: no-repeat;
    background-position: right center; /* Posicionamento do ícone */
    background-size: 20px;
    box-sizing: border-box;
}



/* Imagens */
#container-imagens{
    display: flex;

}

/* footer */
footer{
    background-color: #1A120B;
    color: #A6A6A6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

footer h1{
    padding: 0;
    margin: 0;
    font-size: 1.2em;
}

footer h2{
    font-size: 1.1em;
}

footer p{
    color: #A6A6A6;
    font-size: 0.9em;
    padding-bottom: 4px;
}